body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.darkGray {
  background-color: #3C3C3C;
}

#brush {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  /* cursor: url('../img/cursor.png'); */
}

.mod_no-touchevents #brush {
  display: block;
}

.mod_touchevents #brush {
  display: none;
}

#mobile {
  width: 100%;
}

.mod_no-touchevents #mobile {
  display: none;
}

.mod_touchevents #mobile {
  display: block;
}

#desktop {
  width: 100%;
}

.mod_no-touchevents #desktop {
  display: block;
}

.mod_touchevents #desktop {
  display: none;
}

nav {
  position: fixed;
  bottom: 0;
}

.option-links {
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

.option-links a {
  padding: 1rem;
  margin-right: 1rem;
  background: black;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}

a.active {
  background: rgb(63, 54, 195);
}

.option-links a:hover {
  background: rgb(63, 54, 195);
}

.content {
  margin: 3rem;
  width: 50%;
  position: absolute;
  /* right: 0; */
}

.titleContainer {

}

.title {

  flex-basis: 50%;
  font-size: 3rem;
}

.bodyContainer {

}

.textBlock {
  font-size: 1.5rem;
}


.content-background {
  /* margin: 3rem; */
}

.option-links-background {
  display: inline-block;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  position: relative;
}

.background-image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -50;
}

.background-image img {
  width: 100vw;
}

.foreground-image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.foreground-image img {
  width: 100vw;
}

.buttons {
  position: fixed;
  left: 2rem;
  top: 2rem;
}

.mobile-foreground {
  width: 100%;
}

.mobile-foreground img {
  width: 100%;
}

.mobile-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.mobile-background img {
  width: 100%;
}

.mobile-brush {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.mobile-brush img {
  width: 100%;
}
