body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.tools {
  cursor: url('../img/cursor.png'), auto;
}

.tools a {
  cursor: url('../img/pointer.png'), auto;
}

button {
  background-color:#535353;
	border:0px solid #000000;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}

.tools button {
  cursor: url('../img/pointer.png'), auto;
}

button:hover {
  background-color:#797979;
}

/* canvas[resize] {
    width: 100%;
    height: 100%;
} */

.light {
  background-color: #F7F7F7;
}

.dark {
  background-color: #D9D9D9;
}

.darkest {
  background-color: #58595B;
}

#myCanvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  /* cursor: url('../img/cursor.png'); */
}

.mod_no-touchevents #myCanvas {
  display: block;
}

.mod_touchevents #myCanvas {
  display: none;
}

#bottomGradient {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgba(255,219,96,1) 0%, rgba(88,89,91,1) 58%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

/* #bottomGradient {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgba(88,89,91,1) 58%, rgba(255,219,96,1) 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
} */

/* #bottomGradient {
  width: 100vw;
  height: 30vh;
  background: linear-gradient(0deg, rgba(255,219,96,0) 0%, rgba(255,219,96,1) 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
} */

/* #bottomGradient {
  width: 100vw;
  height: 30vh;
  background: linear-gradient(0deg, rgba(255,219,96,1) 0%, rgba(255,219,96,0) 100%);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -100;
} */

.mod_no-touchevents #bottomGradient {
  display: none;
}

.mod_touchevents #bottomGradient {
  display: block;
}

nav {
  position: fixed;
  bottom: 0;
}

.option-links {
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

.option-links a {
  padding: 1rem;
  margin-right: 1rem;
  background: black;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}

a.active {
  background: rgb(63, 54, 195);
}

.option-links a:hover {
  background: rgb(63, 54, 195);
}

.content {
  margin: 3rem;
  width: 50%;
  position: absolute;
  /* right: 0; */
}

.titleContainer {

}

.title {

  flex-basis: 50%;
  font-size: 3rem;
}

.bodyContainer {

}

.textBlock {
  font-size: 1.5rem;
}


.content-background {
  margin: 3rem;
}

.option-links-background {
  display: inline-block;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  position: relative;
}

.background-image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -50;
}

.background-image img {
  width: 100vw;
}

.buttons {
  position: fixed;
  left: 2rem;
  top: 2rem;
}
